<!DOCTYPE html>

{% load static %}

<html>
    <head> 
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says...</h1> 
        <p>here is the about page.</p>
        <div>
            hey there partner! <br />
            <p>This tutorial has been put together by Sofiia.</p> 
        </div>
        <div>
            <a href="/rango/">Index</a><br />
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
            <br />
            <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />
        </div> 
    </body>
</html>