<!DOCTYPE html>
<html>
<head>
    <title>Add Page - Rango</title>
</head>
<body>
    <a href="{% url 'rango:index' %}">Home</a><br/>

    {% if category %}
        <h1>Add a Page to "{{ category.name }}"</h1>

        <form method="post" action="{% url 'rango:add_page' category_name_slug=category.slug %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add Page">
        </form>

    {% else %}
        <p>The specified category does not exist.</p>
    {% endif %}
</body>
</html>